# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
dist-ssr/

# Uploaded files (large media)
backend/uploads/
backend/temp/
backend/.env
backend/node_modules


# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
